.footer{
    background: rgb(229, 229, 229);
}
.footer_contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    transition: all .45s ease;
    cursor: pointer;
}
.contact_item{
    display: flex;
    align-items: center !important;
    gap: 10px;
    color: rgb(48, 48, 48);
}
.contact_item:hover{
    color: #00b4d8 !important;
    transition: .45s ease;
}
.contact_item:hover svg{
    fill: #00b4d8 !important;
    transition: .45s ease;
}
.footer_title{
    margin-bottom: 20px;
}